<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudFolderBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudFolderBrowser.Properties.Settings>
            <setting name="lastSyncFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="publicFoldersJson" serializeAs="String">
                <value />
            </setting>
            <setting name="loginedYandex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loginedMega" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="accessTokenYandex" serializeAs="String">
                <value />
            </setting>
            <setting name="secretFolderUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="savedPasswordsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="loginTokenMega" serializeAs="String">
                <value />
            </setting>
            <setting name="megaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="megaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="fogLinkAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="useProgressBar" serializeAs="String">
                <value>True</value>
            </setting>
        </CloudFolderBrowser.Properties.Settings>
    </userSettings>
</configuration>